.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: #000 solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
}

.produtos li:hover {
    border: #c78c19 solid 2px;
} 

.produtos li:active {
    border: green solid 4px;
} 

.produtos li:hover h2 {
    font-size: 34px;
} 

.descricao {
    font-size: 18px;
}

.preco {
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}